<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzb.talentmarket.mapper.TalentmarketMemberMapper" >
  <resultMap id="BaseResultMap" type="com.bzb.talentmarket.entity.TalentmarketMember" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="headimg" property="headimg" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="idcardno" property="idcardno" jdbcType="VARCHAR" />
    <result column="wxid" property="wxid" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="yuyan" property="yuyan" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="counties" property="counties" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="memberlevel" property="memberlevel" jdbcType="TINYINT" />
    <result column="agentopenid" property="agentopenid" jdbcType="VARCHAR" />
    <result column="fopenid" property="fopenid" jdbcType="VARCHAR" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="tagid_list" property="tagidList" jdbcType="VARCHAR" />
    <result column="subscribe_scene" property="subscribeScene" jdbcType="VARCHAR" />
    <result column="qr_scene" property="qrScene" jdbcType="INTEGER" />
    <result column="qr_scene_str" property="qrSceneStr" jdbcType="VARCHAR" />
    <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
    <result column="fans_num" property="fansNum" jdbcType="INTEGER" />
    <result column="totalredmoney" property="totalredmoney" jdbcType="BIGINT" />
    <result column="isagent" property="isagent" jdbcType="TINYINT" />
    <result column="isheader" property="isheader" jdbcType="TINYINT" />
    <result column="subscribe_status" property="subscribeStatus" jdbcType="TINYINT" />
    <result column="red_status" property="redStatus" jdbcType="TINYINT" />
    <result column="subscribedate" property="subscribedate" jdbcType="BIGINT" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="precision" property="precision" jdbcType="DOUBLE" />

    <result column="credate" property="credate" jdbcType="TIMESTAMP" />
    <result column="upddate" property="upddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, openid, nickname, realname, sex, age, idcardno, wxid, phone, qq, email,
    headimgurl, `yuyan`, country, province, city, counties, address, memberlevel, agentopenid,
    fopenid, unionid, remark, groupid, tagid_list, subscribe_scene, qr_scene, qr_scene_str, 
    qrcode, fans_num, totalredmoney, isheader, isagent, subscribe_status, red_status, subscribedate,
    `geoglatitude`, `geoglongitude`, `geogprecision`, credate, upddate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_talentmarket_member
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--根据openid获取会员信息-->
  <select id="getByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_talentmarket_member
    where openid = #{openid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_talentmarket_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bzb.talentmarket.entity.TalentmarketMember" >
    insert into tb_talentmarket_member (id, uid, openid, 
      nickname, realname,
      sex, age, idcardno, wxid
      phone, qq, email, headimgurl, 
      yuyan, country, province,
      city, counties, address, 
      memberlevel, agentopenid, fopenid,
      unionid, remark, groupid, 
      tagid_list, subscribe_scene, qr_scene, 
      qr_scene_str, qrcode, fans_num, 
      totalredmoney, isagent, isheader, subscribe_status,
      red_status, subscribedate, geoglatitude, geoglongitude,
      geogprecision, credate, upddate)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR},
      #{sex,jdbcType=TINYINT}, #{age,jdbcType=INTEGER}, #{idcardno,jdbcType=VARCHAR}, #{wxid,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, 
      #{yuyan,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR}, #{counties,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{memberlevel,jdbcType=TINYINT}, #{agentopenid,jdbcType=VARCHAR}, #{fopenid,jdbcType=VARCHAR},
      #{unionid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{groupid,jdbcType=INTEGER},
      #{tagidList,jdbcType=VARCHAR}, #{subscribeScene,jdbcType=VARCHAR}, #{qrScene,jdbcType=INTEGER},
      #{qrSceneStr,jdbcType=VARCHAR}, #{qrcode,jdbcType=VARCHAR}, #{fansNum,jdbcType=INTEGER}, 
      #{totalredmoney,jdbcType=BIGINT}, #{isagent,jdbcType=TINYINT}, #{isheader,jdbcType=TINYINT}, #{subscribeStatus,jdbcType=TINYINT},
      #{redStatus,jdbcType=TINYINT}, #{subscribedate,jdbcType=BIGINT}, #{geoglatitude,jdbcType=DOUBLE},
      #{geoglatitude,jdbcType=DOUBLE}, #{geoglongitude,jdbcType=DOUBLE}, #{geogprecision,jdbcType=DOUBLE},
      #{credate,jdbcType=TIMESTAMP}, #{upddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bzb.talentmarket.entity.TalentmarketMember" >
    insert into tb_talentmarket_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="idcardno != null" >
        idcardno,
      </if>
      <if test="wxid != null" >
        wxid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="headimgurl != null" >
        headimgurl,
      </if>
      <if test="yuyan != null" >
        yuyan,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="counties != null" >
        counties,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="memberlevel != null" >
        memberlevel,
      </if>
      <if test="agentopenid != null" >
        agentopenid,
      </if>
      <if test="fopenid != null" >
        fopenid,
      </if>
      <if test="unionid != null" >
        unionid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="tagidList != null" >
        tagid_list,
      </if>
      <if test="subscribeScene != null" >
        subscribe_scene,
      </if>
      <if test="qrScene != null" >
        qr_scene,
      </if>
      <if test="qrSceneStr != null" >
        qr_scene_str,
      </if>
      <if test="qrcode != null" >
        qrcode,
      </if>
      <if test="fansNum != null" >
        fans_num,
      </if>
      <if test="totalredmoney != null" >
        totalredmoney,
      </if>
      <if test="isagent != null" >
        isagent,
      </if>
      <if test="isheader != null" >
        isheader,
      </if>
      <if test="subscribeStatus != null" >
        subscribe_status,
      </if>
      <if test="redStatus != null" >
        red_status,
      </if>
      <if test="subscribedate != null" >
        subscribedate,
      </if>
      <if test="geoglatitude != null" >
        geoglatitude,
      </if>
      <if test="geoglongitude != null" >
        geoglongitude,
      </if>
      <if test="geogprecision != null" >
        geogprecision,
      </if>
      <if test="credate != null" >
        credate,
      </if>
      <if test="upddate != null" >
        upddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null" >
        #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null" >
        #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="yuyan != null" >
        #{yuyan,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="counties != null" >
        #{counties,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="memberlevel != null" >
        #{memberlevel,jdbcType=TINYINT},
      </if>
      <if test="agentopenid != null" >
        #{agentopenid,jdbcType=VARCHAR},
      </if>
      <if test="fopenid != null" >
        #{fopenid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="tagidList != null" >
        #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null" >
        #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null" >
        #{qrScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null" >
        #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="fansNum != null" >
        #{fansNum,jdbcType=INTEGER},
      </if>
      <if test="totalredmoney != null" >
        #{totalredmoney,jdbcType=BIGINT},
      </if>
      <if test="isagent != null" >
        #{isagent,jdbcType=TINYINT},
      </if>
      <if test="isheader != null" >
        #{isheader,jdbcType=TINYINT},
      </if>
      <if test="subscribeStatus != null" >
        #{subscribeStatus,jdbcType=TINYINT},
      </if>
      <if test="redStatus != null" >
        #{redStatus,jdbcType=TINYINT},
      </if>
      <if test="subscribedate != null" >
        #{subscribedate,jdbcType=BIGINT},
      </if>
      <if test="geoglatitude != null" >
        #{geoglatitude,jdbcType=DOUBLE},
      </if>
      <if test="geoglongitude != null" >
        #{geoglongitude,jdbcType=DOUBLE},
      </if>
      <if test="geogprecision != null" >
        #{geogprecision,jdbcType=DOUBLE},
      </if>
      <if test="credate != null" >
        #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null" >
        #{upddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzb.talentmarket.entity.TalentmarketMember" >
    update tb_talentmarket_member
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null" >
        idcardno = #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null" >
        wxid = #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="yuyan != null" >
        yuyan = #{language,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="counties != null" >
        counties = #{counties,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="memberlevel != null" >
        memberlevel = #{memberlevel,jdbcType=TINYINT},
      </if>
      <if test="agentopenid != null" >
        agentopenid = #{agentopenid,jdbcType=VARCHAR},
      </if>
      <if test="fopenid != null" >
        fopenid = #{fopenid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="tagidList != null" >
        tagid_list = #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null" >
        subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null" >
        qr_scene = #{qrScene,jdbcType=INTEGER},
      </if>
      <if test="qrSceneStr != null" >
        qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        qrcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="fansNum != null" >
        fans_num = #{fansNum,jdbcType=INTEGER},
      </if>
      <if test="totalredmoney != null" >
        totalredmoney = #{totalredmoney,jdbcType=BIGINT},
      </if>
      <if test="isagent != null" >
        isagent = #{isagent,jdbcType=TINYINT},
      </if>
      <if test="isheader != null" >
        isheader = #{isheader,jdbcType=TINYINT},
      </if>
      <if test="subscribeStatus != null" >
        subscribe_status = #{subscribeStatus,jdbcType=TINYINT},
      </if>
      <if test="redStatus != null" >
        red_status = #{redStatus,jdbcType=TINYINT},
      </if>
      <if test="subscribedate != null" >
        subscribedate = #{subscribedate,jdbcType=BIGINT},
      </if>
      <if test="geoglatitude != null" >
        geoglatitude = #{geoglatitude,jdbcType=DOUBLE},
      </if>
      <if test="geoglongitude != null" >
        geoglongitude = #{geoglongitude,jdbcType=DOUBLE},
      </if>
      <if test="geogprecision != null" >
        geogprecision = #{geogprecision,jdbcType=DOUBLE},
      </if>
      <if test="credate != null" >
        credate = #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null" >
        upddate = #{upddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据openid更新-->
  <update id="updateByOpenid" parameterType="com.bzb.talentmarket.entity.TalentmarketMember" >
    update tb_talentmarket_member
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null" >
        idcardno = #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null" >
        wxid = #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="yuyan != null" >
        yuyan = #{yuyan,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="counties != null" >
        counties = #{counties,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="memberlevel != null" >
        memberlevel = #{memberlevel,jdbcType=TINYINT},
      </if>
      <if test="agentopenid != null" >
        agentopenid = #{agentopenid,jdbcType=VARCHAR},
      </if>
      <if test="fopenid != null" >
        fopenid = #{fopenid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="tagidList != null" >
        tagid_list = #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null" >
        subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null" >
        qr_scene = #{qrScene,jdbcType=INTEGER},
      </if>
      <if test="qrSceneStr != null" >
        qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        qrcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="fansNum != null" >
        fans_num = #{fansNum,jdbcType=INTEGER},
      </if>
      <if test="totalredmoney != null" >
        totalredmoney = #{totalredmoney,jdbcType=BIGINT},
      </if>
      <if test="isagent != null" >
        isagent = #{isagent,jdbcType=TINYINT},
      </if>
      <if test="isheader != null" >
        isheader = #{isheader,jdbcType=TINYINT},
      </if>
      <if test="subscribeStatus != null" >
        subscribe_status = #{subscribeStatus,jdbcType=TINYINT},
      </if>
      <if test="redStatus != null" >
        red_status = #{redStatus,jdbcType=TINYINT},
      </if>
      <if test="subscribedate != null" >
        subscribedate = #{subscribedate,jdbcType=BIGINT},
      </if>
      <if test="geoglatitude != null" >
        geoglatitude = #{geoglatitude,jdbcType=DOUBLE},
      </if>
      <if test="geoglongitude != null" >
        geoglongitude = #{geoglongitude,jdbcType=DOUBLE},
      </if>
      <if test="geogprecision != null" >
        geogprecision = #{geogprecision,jdbcType=DOUBLE},
      </if>
      <if test="credate != null" >
        credate = #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null" >
        upddate = #{upddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.bzb.talentmarket.entity.TalentmarketMember" >
    update tb_talentmarket_member
    set uid = #{uid,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      age = #{age,jdbcType=INTEGER},
      idcardno = #{idcardno,jdbcType=VARCHAR},
      wxid = #{wxid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      yuyan = #{yuyan,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      counties = #{counties,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      memberlevel = #{memberlevel,jdbcType=TINYINT},
      agentopenid = #{agentopenid,jdbcType=VARCHAR},
      fopenid = #{fopenid,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=INTEGER},
      tagid_list = #{tagidList,jdbcType=VARCHAR},
      subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      qr_scene = #{qrScene,jdbcType=INTEGER},
      qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      qrcode = #{qrcode,jdbcType=VARCHAR},
      fans_num = #{fansNum,jdbcType=INTEGER},
      totalredmoney = #{totalredmoney,jdbcType=BIGINT},
      isagent = #{isagent,jdbcType=TINYINT},
      isheader = #{isheader,jdbcType=TINYINT},
      subscribe_status = #{subscribeStatus,jdbcType=TINYINT},
      red_status = #{redStatus,jdbcType=TINYINT},
      subscribedate = #{subscribedate,jdbcType=BIGINT},
      geoglatitude = #{geoglatitude,jdbcType=DOUBLE},
      geoglongitude = #{geoglongitude,jdbcType=DOUBLE},
      geogprecision = #{geogprecision,jdbcType=DOUBLE},
      credate = #{credate,jdbcType=TIMESTAMP},
      upddate = #{upddate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--更新推荐者的相关粉丝信息-->
  <update id="updateFans">
    UPDATE tb_talentmarket_member
    SET fans_num = fans_num + 1, totalredmoney = totalredmoney + ${randMoney,jdbcType=BIGINT}, upddate = NOW()
    WHERE openid = #{openid,jdbcType=VARCHAR}
  </update>
  
  <!--获取推荐者的粉丝列表-->
  <select id="getRecommendMembersByOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      openid, nickname, headimgurl, subscribe_status, subscribedate
    FROM tb_talentmarket_member
    WHERE
      fopenid = #{openid,jdbcType=VARCHAR}
  </select>
</mapper>