<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzb.talentmarket.mapper.TalentmarketKfMapper">
  <resultMap id="BaseResultMap" type="com.bzb.talentmarket.entity.TalentmarketKf">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="kf_account" jdbcType="VARCHAR" property="kfAccount" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="kf_nick" jdbcType="VARCHAR" property="kfNick" />
    <result column="kf_id" jdbcType="VARCHAR" property="kfId" />
    <result column="kf_headimgurl" jdbcType="VARCHAR" property="kfHeadimgurl" />
    <result column="kf_wx" jdbcType="VARCHAR" property="kfWx" />
    <result column="invite_wx" jdbcType="VARCHAR" property="inviteWx" />
    <result column="invite_expire_time" jdbcType="BIGINT" property="inviteExpireTime" />
    <result column="invite_status" jdbcType="VARCHAR" property="inviteStatus" />
    <result column="empuid" jdbcType="VARCHAR" property="empuid" />
    <result column="isheaderkf" jdbcType="TINYINT" property="isheaderkf" />
    <result column="kf_status" jdbcType="TINYINT" property="kfStatus" />
    <result column="credate" jdbcType="TIMESTAMP" property="credate" />
    <result column="upddate" jdbcType="TIMESTAMP" property="upddate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, kf_account, phone, kf_nick, kf_id, kf_headimgurl, kf_wx, invite_wx, invite_expire_time, 
    invite_status, empuid, isheaderkf, kf_status, credate, upddate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_talentmarket_kf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_talentmarket_kf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bzb.talentmarket.entity.TalentmarketKf">
    insert into tb_talentmarket_kf (id, uid, kf_account, 
      phone, kf_nick, kf_id, 
      kf_headimgurl, kf_wx, invite_wx, 
      invite_expire_time, invite_status, empuid, 
      isheaderkf, kf_status, credate, 
      upddate)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{kfAccount,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{kfNick,jdbcType=VARCHAR}, #{kfId,jdbcType=VARCHAR}, 
      #{kfHeadimgurl,jdbcType=VARCHAR}, #{kfWx,jdbcType=VARCHAR}, #{inviteWx,jdbcType=VARCHAR}, 
      #{inviteExpireTime,jdbcType=BIGINT}, #{inviteStatus,jdbcType=VARCHAR}, #{empuid,jdbcType=VARCHAR}, 
      #{isheaderkf,jdbcType=TINYINT}, #{kfStatus,jdbcType=TINYINT}, #{credate,jdbcType=TIMESTAMP}, 
      #{upddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bzb.talentmarket.entity.TalentmarketKf">
    insert into tb_talentmarket_kf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="kfAccount != null">
        kf_account,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="kfNick != null">
        kf_nick,
      </if>
      <if test="kfId != null">
        kf_id,
      </if>
      <if test="kfHeadimgurl != null">
        kf_headimgurl,
      </if>
      <if test="kfWx != null">
        kf_wx,
      </if>
      <if test="inviteWx != null">
        invite_wx,
      </if>
      <if test="inviteExpireTime != null">
        invite_expire_time,
      </if>
      <if test="inviteStatus != null">
        invite_status,
      </if>
      <if test="empuid != null">
        empuid,
      </if>
      <if test="isheaderkf != null">
        isheaderkf,
      </if>
      <if test="kfStatus != null">
        kf_status,
      </if>
      <if test="credate != null">
        credate,
      </if>
      <if test="upddate != null">
        upddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="kfAccount != null">
        #{kfAccount,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="kfNick != null">
        #{kfNick,jdbcType=VARCHAR},
      </if>
      <if test="kfId != null">
        #{kfId,jdbcType=VARCHAR},
      </if>
      <if test="kfHeadimgurl != null">
        #{kfHeadimgurl,jdbcType=VARCHAR},
      </if>
      <if test="kfWx != null">
        #{kfWx,jdbcType=VARCHAR},
      </if>
      <if test="inviteWx != null">
        #{inviteWx,jdbcType=VARCHAR},
      </if>
      <if test="inviteExpireTime != null">
        #{inviteExpireTime,jdbcType=BIGINT},
      </if>
      <if test="inviteStatus != null">
        #{inviteStatus,jdbcType=VARCHAR},
      </if>
      <if test="empuid != null">
        #{empuid,jdbcType=VARCHAR},
      </if>
      <if test="isheaderkf != null">
        #{isheaderkf,jdbcType=TINYINT},
      </if>
      <if test="kfStatus != null">
        #{kfStatus,jdbcType=TINYINT},
      </if>
      <if test="credate != null">
        #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null">
        #{upddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzb.talentmarket.entity.TalentmarketKf">
    update tb_talentmarket_kf
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="kfAccount != null">
        kf_account = #{kfAccount,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="kfNick != null">
        kf_nick = #{kfNick,jdbcType=VARCHAR},
      </if>
      <if test="kfId != null">
        kf_id = #{kfId,jdbcType=VARCHAR},
      </if>
      <if test="kfHeadimgurl != null">
        kf_headimgurl = #{kfHeadimgurl,jdbcType=VARCHAR},
      </if>
      <if test="kfWx != null">
        kf_wx = #{kfWx,jdbcType=VARCHAR},
      </if>
      <if test="inviteWx != null">
        invite_wx = #{inviteWx,jdbcType=VARCHAR},
      </if>
      <if test="inviteExpireTime != null">
        invite_expire_time = #{inviteExpireTime,jdbcType=BIGINT},
      </if>
      <if test="inviteStatus != null">
        invite_status = #{inviteStatus,jdbcType=VARCHAR},
      </if>
      <if test="empuid != null">
        empuid = #{empuid,jdbcType=VARCHAR},
      </if>
      <if test="isheaderkf != null">
        isheaderkf = #{isheaderkf,jdbcType=TINYINT},
      </if>
      <if test="kfStatus != null">
        kf_status = #{kfStatus,jdbcType=TINYINT},
      </if>
      <if test="credate != null">
        credate = #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null">
        upddate = #{upddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzb.talentmarket.entity.TalentmarketKf">
    update tb_talentmarket_kf
    set uid = #{uid,jdbcType=VARCHAR},
      kf_account = #{kfAccount,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      kf_nick = #{kfNick,jdbcType=VARCHAR},
      kf_id = #{kfId,jdbcType=VARCHAR},
      kf_headimgurl = #{kfHeadimgurl,jdbcType=VARCHAR},
      kf_wx = #{kfWx,jdbcType=VARCHAR},
      invite_wx = #{inviteWx,jdbcType=VARCHAR},
      invite_expire_time = #{inviteExpireTime,jdbcType=BIGINT},
      invite_status = #{inviteStatus,jdbcType=VARCHAR},
      empuid = #{empuid,jdbcType=VARCHAR},
      isheaderkf = #{isheaderkf,jdbcType=TINYINT},
      kf_status = #{kfStatus,jdbcType=TINYINT},
      credate = #{credate,jdbcType=TIMESTAMP},
      upddate = #{upddate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getByKfAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from tb_talentmarket_kf 
  	where kf_account = #{kfAccount,jdbcType=VARCHAR} 
  	limit 1
  </select>
</mapper>