<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzb.talentmarket.mapper.TalentmarketGamerulesMapper" >
  <resultMap id="BaseResultMap" type="com.bzb.talentmarket.entity.TalentmarketGamerules" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="maxred" property="maxred" jdbcType="INTEGER" />
    <result column="distance" property="distance" jdbcType="DOUBLE" />
    <result column="randred_rule" property="randredRule" jdbcType="VARCHAR" />
    <result column="credate" property="credate" jdbcType="TIMESTAMP" />
    <result column="upddate" property="upddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, maxred, distance, randred_rule, credate, upddate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_talentmarket_gamerules
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_talentmarket_gamerules
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bzb.talentmarket.entity.TalentmarketGamerules" >
    insert into tb_talentmarket_gamerules (id, uid, maxred, 
      distance, randred_rule, credate, 
      upddate)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{maxred,jdbcType=INTEGER}, 
      #{distance,jdbcType=DOUBLE}, #{randredRule,jdbcType=VARCHAR}, #{credate,jdbcType=TIMESTAMP},
      #{upddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bzb.talentmarket.entity.TalentmarketGamerules" >
    insert into tb_talentmarket_gamerules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="maxred != null" >
        maxred,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="randredRule != null" >
        randred_rule,
      </if>
      <if test="credate != null" >
        credate,
      </if>
      <if test="upddate != null" >
        upddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="maxred != null" >
        #{maxred,jdbcType=INTEGER},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=DOUBLE},
      </if>
      <if test="randredRule != null" >
        #{randredRule,jdbcType=VARCHAR},
      </if>
      <if test="credate != null" >
        #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null" >
        #{upddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzb.talentmarket.entity.TalentmarketGamerules" >
    update tb_talentmarket_gamerules
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="maxred != null" >
        maxred = #{maxred,jdbcType=INTEGER},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=DOUBLE},
      </if>
      <if test="randredRule != null" >
        randred_rule = #{randredRule,jdbcType=VARCHAR},
      </if>
      <if test="credate != null" >
        credate = #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null" >
        upddate = #{upddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzb.talentmarket.entity.TalentmarketGamerules" >
    update tb_talentmarket_gamerules
    set uid = #{uid,jdbcType=VARCHAR},
      maxred = #{maxred,jdbcType=INTEGER},
      distance = #{distance,jdbcType=DOUBLE},
      randred_rule = #{randredRule,jdbcType=VARCHAR},
      credate = #{credate,jdbcType=TIMESTAMP},
      upddate = #{upddate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getDistinceAndRed" resultType="java.lang.String">
    SELECT header_password
    FROM tb_talentmarket_gamerules
    LIMIT 1
  </select>
</mapper>