<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bzb.talentmarket.mapper.TalentmarketRecommendRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.bzb.talentmarket.entity.TalentmarketRecommendRecords" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="referrer_openid" property="referrerOpenid" jdbcType="VARCHAR" />
    <result column="fans_openid" property="fansOpenid" jdbcType="VARCHAR" />
    <result column="redmoney" property="redmoney" jdbcType="BIGINT" />
    <result column="credate" property="credate" jdbcType="TIMESTAMP" />
    <result column="upddate" property="upddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, referrer_openid, fans_openid, redmoney, credate, upddate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_talentmarket_recommend_records
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_talentmarket_recommend_records
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bzb.talentmarket.entity.TalentmarketRecommendRecords" >
    insert into tb_talentmarket_recommend_records (id, uid, referrer_openid, 
      fans_openid, redmoney, credate, 
      upddate)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{referrerOpenid,jdbcType=VARCHAR}, 
      #{fansOpenid,jdbcType=VARCHAR}, #{redmoney,jdbcType=BIGINT}, #{credate,jdbcType=TIMESTAMP}, 
      #{upddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bzb.talentmarket.entity.TalentmarketRecommendRecords" >
    insert into tb_talentmarket_recommend_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="referrerOpenid != null" >
        referrer_openid,
      </if>
      <if test="fansOpenid != null" >
        fans_openid,
      </if>
      <if test="redmoney != null" >
        redmoney,
      </if>
      <if test="credate != null" >
        credate,
      </if>
      <if test="upddate != null" >
        upddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="referrerOpenid != null" >
        #{referrerOpenid,jdbcType=VARCHAR},
      </if>
      <if test="fansOpenid != null" >
        #{fansOpenid,jdbcType=VARCHAR},
      </if>
      <if test="redmoney != null" >
        #{redmoney,jdbcType=BIGINT},
      </if>
      <if test="credate != null" >
        #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null" >
        #{upddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bzb.talentmarket.entity.TalentmarketRecommendRecords" >
    update tb_talentmarket_recommend_records
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="referrerOpenid != null" >
        referrer_openid = #{referrerOpenid,jdbcType=VARCHAR},
      </if>
      <if test="fansOpenid != null" >
        fans_openid = #{fansOpenid,jdbcType=VARCHAR},
      </if>
      <if test="redmoney != null" >
        redmoney = #{redmoney,jdbcType=BIGINT},
      </if>
      <if test="credate != null" >
        credate = #{credate,jdbcType=TIMESTAMP},
      </if>
      <if test="upddate != null" >
        upddate = #{upddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bzb.talentmarket.entity.TalentmarketRecommendRecords" >
    update tb_talentmarket_recommend_records
    set uid = #{uid,jdbcType=VARCHAR},
      referrer_openid = #{referrerOpenid,jdbcType=VARCHAR},
      fans_openid = #{fansOpenid,jdbcType=VARCHAR},
      redmoney = #{redmoney,jdbcType=BIGINT},
      credate = #{credate,jdbcType=TIMESTAMP},
      upddate = #{upddate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>