<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="mobile/common :: common_header('经纪人授权')"></div><!--头部替换为公共模版-->

</head>
<body>

    <div id="app" style="background-color: #fafafa;">

        <van-nav-bar title="白志斌请授权">
            <img src="http://thirdwx.qlogo.cn/mmopen/DzfLC7vAweubs3BgcRTuuMkEfoHlTZkaTQw6M2hUxRDkVBl20vbelTGZ9XsreBq7k7dn7eK1zXiaRpWndboujXsibAkiaf2DERic/132"
                 width="26px;" style="border-radius:50%;" slot="left"/>

        </van-nav-bar>

        <!--授权表单-->
        <div style="padding: 30px;">

            <van-cell-group>
                <van-field
                        v-model="phone"
                        required
                        clearable
                        label="手机号"
                        placeholder="请输入手机号"
                        :error-message="errmsg_phone"
                        name = "phone"
                        v-validate="'required|email'"
                />
                <span>{{ errors.first('email')}}</span>
            </van-cell-group>

            <van-cell-group>
                <van-field
                        v-model="wxid"
                        required
                        clearable
                        label="微信号"
                        placeholder="请输入微信号"
                />
            </van-cell-group>

            <van-cell-group v-show="isHeaderShow">
                <van-field
                        v-model="password"
                        required
                        clearable
                        label="验证密码"
                        placeholder="请输入总部客服密码"
                />
            </van-cell-group>

            <van-checkbox v-model="isHeader" @change="changeHeader();"
                          checked-color="#4b0" style="margin: 20px 0 20px 20px;">总部客服</van-checkbox>

            <van-cell-group>
                <van-button size="large" type="primary" @click="submit()">提交</van-button>
            </van-cell-group>

        </div>

    </div>

    <!-- unpkg -->
    <script src="https://unpkg.com/vee-validate@latest"></script>
    <script>
        Vue.use(VeeValidate); // good to go.
    </script>

    <script type="text/javascript" th:inline="javascript">
        var app = new Vue({
            el: '#app',
            data: {
                phone: '',
                wxid : '',
                password: '',
                isHeader: false,
                isHeaderShow : false,
                errmsg_phone: ''
            },
            methods : {

                // 是否选中总部经纪人
                changeHeader: function() {
                    if (this.isHeader) { // 选中
                        this.isHeaderShow = true;
                    } else {
                        this.isHeaderShow = false;
                    }
                }, 
                
                submit: function () {
                    // 参数校验
                    if (!this.phone) {
                        this.errmsg_phone = '请输入手机号';
                    }
                }
            }
        })

    </script>

</body>
</html>