<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="mobile/common :: common_header('会员中心')"></div><!--头部替换为公共模版-->
</head>
<body>
    <div id="app" style="background-color: #fafafa;">

        <!--引入头像二维码片段-->
        <div th:replace="mobile/common :: common_headimg('http://thirdwx.qlogo.cn/mmopen/DzfLC7vAweubs3BgcRTuuMkEfoHlTZkaTQw6M2hUxRDkVBl20vbelTGZ9XsreBq7k7dn7eK1zXiaRpWndboujXsibAkiaf2DERic/132', 'https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQHY8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyZURRaW9SRW9kMGwxMDAwMHcwN3AAAgStSOpbAwQAAAAA')"></div>

        <!--随机红包金额-->
        <van-row type="flex" justify="center" class="box hsl_center">
            <van-col span="24">
                <div style="height: 100%;" @click="getRedRecords()">
                    <div style="font-size: 12px;margin: 20px;">累积圈粉金额</div>
                    <div style="font-size: 36px;color: #f44336;">5.55</div>
                </div>
            </van-col>
        </van-row>

        <!--粉丝数量 th:text="${member.fansNum}"-->
        <van-row type="flex" justify="center" class="box hsl_center">
            <van-col span="24">
                <div style="height: 100%;" @click="toRecommendMembers();">
                    <div style="font-size: 12px;margin: 20px;">贡献粉丝</div>
                    <div style="font-size: 36px;">3</div>
                </div>
            </van-col>
        </van-row>

        <!--活动规则-->
        <van-row type="flex" class="box" style="height: 200px;">
            <van-col span="24" style="font-size: 12px;padding: 8px;">
            	奖励规则：<br/>
				1、如果您认可我们提供的服务，请分享您的二维码；<br/>
				2、您贡献的每位粉丝，可能会获得0元-3元内的随机红包；<br/>
				3、您贡献的每位粉丝，成功入职后，可能会获得100-1000元不等的佣金（具体介绍费的价目表请参照每个工厂/岗位的详情页)；<br/>
				4、如有疑问，添加财务微信：VIPKF1232在线咨询；<br/>
				5、我方可能会因为业务需要，调整相关规则，最终解释权归我方所有；<br/>
            </van-col>
        </van-row>
        
        <!-- 二维码弹层 -->
        <div>
	        <van-popup v-model="show">
			  	<img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQHY8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyZURRaW9SRW9kMGwxMDAwMHcwN3AAAgStSOpbAwQAAAAA"
			  	 width="300px;"/>
			</van-popup>
        </div>
        
    </div>

    <script type="text/javascript" th:inline="javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                show: false
            }, 
            methods : {
                // 展示二维码
            	showQrcode() {
            		this.show = true;
            	},

                // 随机红包记录列表
                getRedRecords() {
                    window.location.href = /*[[@{/memberCenter/toRedRecords(openid='oqFhA1YfrunnhBasHmsdZ4KCLqok',headimgurl='http://thirdwx.qlogo.cn/mmopen/DzfLC7vAweubs3BgcRTuuMkEfoHlTZkaTQw6M2hUxRDkVBl20vbelTGZ9XsreBq7k7dn7eK1zXiaRpWndboujXsibAkiaf2DERic/132',qrcode='https://w.url.cn/s/AZbx7Ag')}]]*/;
                },

                // 推荐粉丝记录
                toRecommendMembers() {
                    window.location.href = /*[[@{/memberCenter/toRecommendMembers(openid='oqFhA1YfrunnhBasHmsdZ4KCLqok',headimgurl='http://thirdwx.qlogo.cn/mmopen/DzfLC7vAweubs3BgcRTuuMkEfoHlTZkaTQw6M2hUxRDkVBl20vbelTGZ9XsreBq7k7dn7eK1zXiaRpWndboujXsibAkiaf2DERic/132',qrcode='https://w.url.cn/s/AZbx7Ag')}]]*/;
                }
            }
        })
    </script>
</body>
</html>