<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="mobile/common :: common_header('会员中心')"></div><!--头部替换为公共模版-->
</head>
<body>
<div id="app" style="background-color: #fafafa;">

    <!--引入头像二维码片段-->
    <div th:replace="mobile/common :: common_headimg('http://thirdwx.qlogo.cn/mmopen/DzfLC7vAweubs3BgcRTuuMkEfoHlTZkaTQw6M2hUxRDkVBl20vbelTGZ9XsreBq7k7dn7eK1zXiaRpWndboujXsibAkiaf2DERic/132', 'https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQHY8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyZURRaW9SRW9kMGwxMDAwMHcwN3AAAgStSOpbAwQAAAAA')"></div>

    <!--推荐会员列表-->
    <van-row type="flex" justify="center">
        <van-col span="24">
            <div >

                <van-list v-model="loading" :finished="finished" @load="onLoad">

                    <van-cell
                            v-for="item in list"
                            :key="item.nickname"
                            :title="item.nickname"
                            :label="formatDate(item.subscribedate * 1000)"
                            center="true"
                    >
                        <van-tag type="success" v-if="item.subscribeStatus == 1">关注</van-tag>
                        <van-tag type="danger" v-else>取消关注</van-tag>
                        <img slot="icon" :src="item.headimgurl" width="36" height="36" style="margin-right: 5px;">
                    </van-cell>

                </van-list>

            </div>
        </van-col>
    </van-row>

    <!-- 二维码弹层 -->
    <div>
        <van-popup v-model="show">
            <img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQHY8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyZURRaW9SRW9kMGwxMDAwMHcwN3AAAgStSOpbAwQAAAAA"
                 width="300px;"/>
        </van-popup>
    </div>

</div>

<script type="text/javascript" th:inline="javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            show: false,
            list: [],
            pageNo : 1,
            pageSize : 10,
            loading: false,//控制上拉加载的加载动画
            finished: false,//控制在页面往下移动到底部时是否调用接口获取数据
        },
        methods : {

            // 时间戳转换为日期格式
            formatDate: function (timestamp) {
                var time = new Date(timestamp);
                var y = time.getFullYear();
                var m = time.getMonth()+1;
                var d = time.getDate();
                var h = time.getHours();
                var mm = time.getMinutes();
                var s = time.getSeconds();
                return y+'-'+this.add0(m)+'-'+this.add0(d)+' '+this.add0(h)+':'+this.add0(mm)+':'+this.add0(s);
            }

            ,
            add0 : function (m) {
                return m < 10 ? '0'+ m : m;
            },

            // 展示二维码
            showQrcode: function() {
                this.show = true;
            },

            // 随机红包记录列表
            getRecommendMembers: function() {

                axios.get(/*[[@{/memberCenter/recommendMembers}]]*/,{
                    params: {
                        openid : [[${openid}]],
                        pageNo : this.pageNo++,
                        pageSize : this.pageSize
                    }
                })
                .then(function (response) {
                    console.log("response=", response);

                    let page = response.data; // 返回结果
                    let list = page.list; // 模块列表

                    if (page && list.length > 0) {

                        // 将每次获取的数据添加到list集合中
                        for(var i = 0, len = list.length; i < len; i++){
                            vm.list.push(list[i]);
                        }
                    }

                    // 每次加载完成关闭下拉刷新效果
                    vm.loading = false;

                    // 数据全部加载完成
                    if (page.isLastPage) {
                        vm.finished = true;
                    }


                })
                .catch(function (error) {
                    console.log(error);
                });

            },

            onLoad: function() {
                // 异步加载数据
                this.getRecommendMembers();
            },

        }
    })
</script>
</body>
</html>