<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="mobile/common :: common_header('红包明细')"></div><!--头部替换为公共模版-->
</head>
<body>
<div id="app" style="background-color: #fafafa;">

    <!--引入头像二维码片段-->
    <div th:replace="mobile/common :: common_headimg(${headimgurl}, ${qrcode})"></div>

    <!--随机红包金额-->
    <van-row type="flex" justify="center">
        <van-col span="24">
            <div >

                <van-list v-model="loading" :finished="finished" @load="onLoad">

                    <van-cell
                        v-for="item in list"
                        :key="item.name"
                        center="true"
                        :title="getSource(item.source)"
                        :label="formatDate(item.credate)"
                     />
                    <span style="font-size: 26px;color: darkgreen;">{{(item.money/100).toFixed(2)}}</span>
                </van-list>

            </div>
        </van-col>
    </van-row>

    <!-- 二维码弹层 -->
    <div>
        <van-popup v-model="show">
            <img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQHY8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyZURRaW9SRW9kMGwxMDAwMHcwN3AAAgStSOpbAwQAAAAA"
                 width="300px;"/>
        </van-popup>
    </div>

</div>

<script type="text/javascript" th:inline="javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            show: false,
            list: [],
            pageNo : 1,
            pageSize : 10,
            loading: false,//控制上拉加载的加载动画
            finished: false,//控制在页面往下移动到底部时是否调用接口获取数据
        },
        methods : {

            // 时间戳转换为日期格式
            formatDate: function (timestamp) {
                var time = new Date(timestamp);
                var y = time.getFullYear();
                var m = time.getMonth()+1;
                var d = time.getDate();
                var h = time.getHours();
                var mm = time.getMinutes();
                var s = time.getSeconds();
                return y+'-'+this.add0(m)+'-'+this.add0(d)+' '+this.add0(h)+':'+this.add0(mm)+':'+this.add0(s);
            }

            ,
            add0 : function (m) {
                return m < 10 ? '0'+ m : m;
            },

            // 获取随机红包来源
            getSource: function (type) {
                if (type == 0) {
                    return "扫码推荐";
                }
            },

            // 展示二维码
            showQrcode() {
                this.show = true;
            },

            // 随机红包记录列表
            getRedRecords() {

                axios.get(/*[[@{/memberCenter/redRecords}]]*/,{
                    params: {
                        openid : [[${openid}]],
                        pageNo : this.pageNo++,
                        pageSize : this.pageSize
                    }
                })
                .then(function (response) {

                    console.log('response=', response);

                    let page = response.data; // 返回结果
                    let list = page.list; // 模块列表

                    if (page && list.length > 0) {

                        // 每次加载10条数据，并添加到list集合中
                        for(var i = 0, len = list.length; i < len; i++){
                            vm.list.push(list[i]);
                        }

                    }

                    // 每次加载完成关闭下拉刷新效果
                    vm.loading = false;

                    // 数据全部加载完成
                    if (page.isLastPage) {
                        vm.finished = true;
                    }


                })
                .catch(function (error) {
                    console.log(error);
                });

            },

            onLoad() {
                // 异步加载数据
                this.getRedRecords();
            },

        }
    })
</script>
</body>
</html>